@mixin responsive_pinet_tablelayout($args...) {
	@include full_screen();
	.container-table {
		@include display_table();
		height: 100%;
		#navigation {
			.tooltip.in {
				position: fixed;
			}
		}
		#main {
			width: 100%;
		}
		#content {
			height: 100%;
		}
		#workbench {
			width: 100%;
		}
		#scrollcontent {
			>.table-col {
				position: relative;
				overflow: auto;
				height: 100%;
			}
			height: 100%;
		}
	}
	@-moz-document url-prefix() {
    	.container-table {
    		>.row {
    			>.col {
    				height: 100%;
    			}
    		}
    	}
	}
}